*{
    font: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 3px;
    background-color: #1E2924;
    color: white;
    font-weight: normal;
    
}
header{
    height: 100px;
    /* padding-bottom: 100px; */
    /* display: flex; */
    /* justify-content: space-around; */
    margin-bottom: 100px;
}
.logo h1{
    font-size: 3.2rem;
    color: #4caf50;
    margin: 0;
}
nav{
    padding: 2% 8%;
    display:flex;
    justify-content: space-around;
}
nav box-icon{
    display: none;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-left: 2.5rem;
}
nav ul li a:hover{
    color: green;
    transition: .3s ease-in-out;
}



/*                  intro                 */
.intro{
    padding: 0 20%;
    text-align: justify;
    font-size: 16px;
    margin: 150px 0;
}



/*          main            */
table{
    width: 100%;
    /* margin: 30%; */
    /* border-color: white;  */
    border-collapse: collapse;
    /* min-width: 400px; */
    /* border: 10px; */
}

tr th{
    background-color: #f1f1f1;
    color: white;
    width: 50px;
    height: 50px;
    /* padding: 10px; */
    
}
tr th:hover{
    transform: scale(1.1);
    transition: ease-in;
}
tr th:first-child{
    border-top-left-radius: 15%;
    border-bottom-left-radius:15%;
    background-color: #d5dcf5;
}
#pop1{
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}


tr th:nth-child(2){
    background-color: #b4ded1;

}
tr th:nth-child(3){
    background-color: #67d6b4;
}
tr th:nth-child(4){
    background-color: #1a9670;
}
tr th:last-child{
    border-top-right-radius: 15%;
    border-bottom-right-radius:15%;
    background-color: #0a3627;
}
.row{
    display: flex;
    padding: 1.6rem;
}
.row2{
    display: flex;
    padding:0;
    margin:0;
}
.left-align, .right-align{
    /* flex-basis: 40%; */
    padding: 1.6rem;
    margin-right: auto;


}

main{
    margin-bottom: 150px;
}
.right-align {
    flex-basis: 40%;
}
.left-align {
    margin-left: auto;

    flex-basis: 40%;
    /* margin-left: 30px; */
    /* max-width: 40vw;
     align-items: center; 
    align-content: space-around;
    display: grid;  
    grid-template-columns: auto auto;
    background-color: #000000;
    max-height: 40vw; */
}
.left, .right{
    padding: 1.6rem;
    /* position: relative; */
}
.center{
    margin-left: auto;
    margin-right: auto;
    /* flex-direction: 40%; */
}
#moistureLevel{
    /* margin-left: 30%; */
}
.main-widget{
    font-size: 0.8rem;

}
.about{
    margin-bottom: 150px;
}
.about-left, .about-middle, .about-right{
    flex-basis: 32%;
    padding: 0 2.0rem;
    /* margin-top:2rem; */
}
.hero{
    /* width:90%;
    font-size: 25px;
    /* position: ; 
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; */

}
h3{
    /* font-size: 33px; */
}

h1{
    font-size: 48px;
    font-weight: normal;

}
.button{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    color: #000000;
    background-color: azure;
    
}
.locate-me{
    display: inline-block;
    padding: 9px 18px;
    border: none;
    font-size: small;
    border-radius: 20px;
    text-decoration: none;
    color: #000000;
    background-color: azure;
    
}
.locate-me:hover{
    color: green;
    transition: .3s ease-in-out;
}
.mission-body{
    /* margin-top: 1cm; */
}
p{
    text-align: center;
    font-size: 20px;
}


/*                  Sign-Up             */
.sign-up{
    margin-left: auto;
    margin-bottom: 150px;
    margin-right: auto;
    width: 300px;
    box-shadow: 0 0 3px rsba(0,0,0,0.3);
    text-align: center;
}


/*          sources             */
.sources{
    /* text-align: left; */
    margin-left: auto;
    margin-bottom: 100px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 650px;
}
.sources p{
    padding: 6px;
    text-align: left;

}

/*              outro                   */

.icons{
    padding: 1.6rem;
    justify-content: center;
    display: flex;
    padding: 1.6rem;
    background-color: #000000;
}
/* .icons box-icon{
    background-color: black;
} */
.footer{
    
    /* margin-top: 150px; */
    background-color: black;
}


/*              media content          */

@media only screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }
    .left-align{
        margin-bottom: 100px;
    }
    nav{
        flex-direction: column;
        position:relative;
    }
    nav box-icon{
        display: block;
        position: absolute;
        top:18px;
        right:32px;
    }
    nav ul{
        /* background: whitesmoke; */
        display: none;
    }
    .showmenu{
        display: block
    }
    nav ul li {
        display: block;
        padding: 2% 0;
    }
    nav ul li a:hover{
        color: green;
        transition: .3s ease-in-out;
    }
    


}